@import "../../../../assets/style/color";
@import "../../../../assets/style/buton";
@import "../../../../assets/style/formInput";

.DetailsView {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  .mainFormDetail {
    width: 90%;
    height: auto;

    .formProduct {
      width: 100%;
      min-height: 100vh;
      margin-top: 2%;
      overflow-x: auto;

      .productItems {
        width: 100%;
        min-height: 600px;
        //   height: auto;
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: start;
        // min-width: 900px;

        .Product {
          width: 70%;
          min-height: 600px;
          // background-color: rgb(206, 39, 39);
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          min-width: 500px;
          .leftProduct {
            width: 35%;
            height: 600px;
            min-width: 300px;
            background-color: white;
            .Image {
              width: 100%;
              height: 60%;
              border-bottom: 1px solid $linegray;
              border-bottom-style: dashed;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              .mainImg {
                width: 50%;
                // border: 1px solid;
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              .itemChild {
                width: 100%;
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: start;
                margin-top: 10%;
                overflow-y: auto;
                .item {
                  width: 80px;
                  height: 100%;
                  cursor: pointer;
                  margin-left: 2%;
                  margin-right: 2%;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  &:hover {
                    border: 1px solid rgb(94, 94, 249);
                  }
                }
              }
            }

            .aboutProduct {
              width: 100%;
              max-height: 200px;
              overflow-y: auto;
              font-size: 14px;
              margin-top: 10px;
              white-space: pre-wrap;
              display: flex;
              flex-direction: column;
              justify-content: start;
              // width: 60%;
              // overflow-y: auto;
            }
          }

          .rightProduct {
            background-color: white;
            margin-left: 1%;
            width: 50%;
            // min-height: 550px;
            padding-left: 2%;
          

            .formTitle {
              width: 100%;
              height: 40%;
              margin-bottom: 2%;
              display: flex;
              flex-direction: column;
              justify-self: start;

              .nameProduct {
                width: 100%;
                min-height: 50px;
                height: fit-content;
                display: flex;
                align-items: center;
                font-size: 20px;
                font-weight: 600;
              }

              .nameBrand {
                width: 100%;
                font-size: 18px;
                color: rgb(9, 55, 139);
                margin-bottom: 2%;
                margin-top: 1%;
              }

              .fontTilte {
                color: gray;
              }

              .priceProduct {
                width: 100%;
                height: 35%;
                display: flex;
                align-items: center;

                .formMoney {
                  width: 80%;
                  height: 100px;
                  display: flex;
                  flex-direction: column;
                  padding-left: 5%;
                  justify-content: center;

                  .price {
                    font-size: 25px;
                    color: blue;
                  }

                  .befordiscount {
                    color: gray;
                    font-size: 18px;
                    font-style: italic;
                    text-decoration: line-through;
                  }
                }
              }

              .quantity {
                width: 100%;
                height: 50px;
                // border: 1px solid;
                display: grid;
                align-items: center;
                grid-template-columns: 20% 20%;

                Input {
                  height: 30px;
                  border-radius: 0px;
                }
              }

              .fromButton {
                margin-top: 5%;
                width: 90%;
                height: 35%;
                display: flex;
                align-items: center;
                justify-content: center;
                justify-content: start;
                border-top: 1px solid gainsboro;
                border-top-style: dashed;
                border-bottom: 1px solid gainsboro;
                border-bottom-style: dashed;
                padding-top: 2%;
                padding-bottom: 2%;
                Button {
                  font-size: 16px;
                  font-weight: 700;
                  &:first-child {
                    width: 49%;
                    height: 50px;
                    background-color: rgb(0, 81, 255);
                    color: white;
                    margin-right: 2%;
                  }

                  &:last-child {
                    width: 49%;
                    height: 50px;
                    color: rgb(0, 81, 255);
                    border-color: rgb(0, 81, 255);
                  }
                }
              }
            }

            .formOption {
              padding: 15%;
              width: 100%;
              min-height: 40%;
              height: auto;
              padding-left: 2%;
              .OptionShow {
                color: gray;
                font-weight: 500;
                margin: 1%;
              }
              .option {
                width: 100%;
                min-height: 50px;

                .formOptionItems {
                  width: 100%;
                  height: auto;
                }

                .items {
                  width: 100%;
                  display: flex;
                  flex-wrap: wrap;

                  .item {
                    width: 90px;
                    height: 40px;
                    border: 1px solid $linegray;
                    margin: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &[id="Active"] {
                      cursor: pointer;

                      &:hover {
                        border: 3px solid rgb(4, 174, 197);
                      }

                      &[choose="choosen"] {
                        border: 3px solid rgb(17, 128, 219);
                      }
                    }

                    &[id="UnActive"] {
                      cursor: no-drop;
                      border: none;
                      color: rgb(159, 157, 157);
                      background-color: rgba(165, 165, 165, 0.214);

                      &:hover {
                        border: none;
                      }

                      &[choose="choosen"] {
                        border: 1px solid gray;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .formDes {
        width: 60%;

        min-height: 400px;
        margin: auto;
        background-color: rgb(254, 254, 254);
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          width: 90%;
          height: 50px;
          font-weight: 600;
          display: flex;
          align-items: center;
        }

        .formReview {
          width: 90%;
          height: 200px;

          display: flex;
          .formRating {
            width: 40%;
            height: 100%;
          }

          .formVoteBar {
            width: 60%;
            height: 100%;
            display: flex;
            // align-items: center;
            justify-content: start;

            flex-direction: column;
            // align-items: ;
            padding-left: 2%;
          }
        }

        .formAddRating {
          width: 100%;
          height: auto;
          min-height: 50px;
          margin-top: 1%;
          display: flex;
          align-items: start;
          flex-direction: column;

          .addComment {
            width: 100%;
            height: 0;
            overflow: hidden;
            position: relative;
            border: 1px solid gainsboro;
            &[id="Active"] {
              min-height: 300px;
            }
            .formInfo {
              width: 90%;
              height: 200px;
              padding-left: 10%;
              padding-top: 2%;

              .users {
                width: 40%;
                height: 40px;
                display: flex;
                align-items: center;

                span {
                  &:first-child {
                    width: 25%;
                    font-weight: 600;
                  }
                }
              }
              .formRating {
                width: 50%;
                height: 50px;
                display: flex;
                align-items: center;
                // span {
                //   &:first-child {
                //     width: 25%;
                //     font-weight: 600;
                //   }
                // }
                .labelRating {
                  width: 25%;
                  font-weight: 600;
                }
                :global {
                  .ant-rate {
                    font-size: 30px;
                  }
                }
              }
              .textAreaCustome {
                width: 100%;
                height: 80px;
                overflow-y: auto;
                resize: none;
              }

              .btnSaveComment {
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: end;
                align-items: end;
              }
            }
          }
        }
      }

      .listCommentUser {
        width: 100%;
        min-height: 200px;
        margin-top: 1%;
        display: flex;
        align-items: center;
        justify-content: center;

        .formComment {
          width: 60%;
          background-color: white;
          min-height: 100px;
          overflow-y: auto;
          max-height: 500px;
        }
      }
    }
  }

  .formInfor {
    width: 350px;
    height: 400px;
    background-color: #e0f4ff;
    position: absolute;
    right: 50px;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      width: 80%;
      // height: 30%;
      // border: 1px solid red;
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 23px;
      color: rgb(10, 171, 235);
    }

    .formButton {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      Button {
        width: 80%;
        height: 50px;
        margin-bottom: 2%;
        margin-top: 2%;

        &:first-child {
          background-color: #92c7cf;
          font-size: 14px;
          color: white;
          &:hover {
            border: #fff;
            color: white;
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
