@import "./buton";

.modalCustom {
  // Bạn không cần sử dụng !important nếu bạn sử dụng style thuộc tính trong component React

  // (Optional) Nếu bạn muốn đặt style cho nền overlay
  :global {
    .ant-modal-content {
      width: 790px !important;
      height: 500px;
    }

    .ant-modal-footer {
      position: absolute;
      bottom: 10px;
      right: 2s0px;
    }
  }

  .fromInforUser {
    width: 100%;
    height: 90%;

    .item {
      width: 100%;
      height: 100%;
      margin: 2px;
      border-radius: 0px;
      .inputForm {
        height: 30px;
      }
    }
  }
}
